cryptography
Flask==3.0.2
flask-restx==1.3.0
Flask-httpauth==4.8.0
flask-sock==0.7.0
numa
portainer-api
psutil
py-cpuinfo
pyyaml
requests
six
tinydb
virtfs
tcconfig
Werkzeug==3.0.1
pydantic==2.5.3
ansible-tower-cli==3.3.8
pytest-xprocess
kubernetes==29.0.0
file:libs/openapi_slurm_0.0.38_client-1.0.0-py3-none-any.whl
